*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/************************/
/* Começa aqui o Header */
/************************/
header{
	padding: 20px 2%;
}

header .logo img{
	float: left;
	width: 236px;
}

header nav.menu-mobile{
	display: none;
	float: right;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	padding: 8px 0;
	list-style-type: none;
}

header nav.menu-desktop ul li{

	float: left;
	font-size: 14px;
	padding: 0 20px;
	text-transform: uppercase;
}

header ul a{
	color: #b4b4b4;
	text-decoration: none;
}


/* Fim do header */


/*************************/
/* Começa aqui o Mosaico */
/*************************/

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-color: #ccc;
	border: 3px solid white;
}



/* Fim do mosaico */


/*************************/
/* Começa aqui o servicos */
/*************************/

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -30px;
	text-align: center;
}

section.servicos > .container .box-servicos:nth-of-type(1){
	width: 30%;
	padding: 35px 4%;
	background-color: #576975;
}

section.servicos > .container .box-servicos:nth-of-type(2){
	width: 40%;
	padding: 50px 4%;
	background-color: #688293;
	background-image: none;
}

section.servicos > .container .box-servicos:nth-of-type(3){
	width: 30%;
	padding: 35px 4%;
	background-color: #576975;
}

section.servicos > .container .box-servicos{
	background-image: url('../images/icone_dente.png');
	background-size: 16px 16px;
	background-position: center calc(100% - 10px);
	background-repeat: no-repeat;
}

section.servicos > .container .box-servicos h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container .box-servicos p{
	color: white;
	font-weight: normal;
	font-size: 12px;
	padding-top: 8px;
	text-align: justify;
}

/* Fim do servicos */


/*************************/
/* Começa aqui o perfil  */
/*************************/

section.perfil .container{
	max-width: 800px;
}

section.perfil .perfil-wrapper{
	padding-top: 60%;
	position: relative;
}

section.perfil .perfil-warpper2{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

section.perfil .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url('../images/img_perfil.png');
	background-size: 100% 100%;
}

section.perfil .texto-perfil{
	width: 60%;
	padding: 0 30px;
}

section.perfil .texto-perfil h2{
	color: #698293;
	font-size: 18px;
}

section.perfil .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	text-align: justify;
	margin-top: 8px;
}

@media screen and (max-width: 768px){

	header nav.menu-desktop{
		display: none;
	}
	
	header nav.menu-mobile{
		display: block;
	}

	section.servicos > .container{
		flex-direction: column;
	}

	section.servicos > .container .box-servicos:nth-of-type(1){
		width: 90%;
		max-width: 350px;
		padding: 30px 4%;
	}

	section.servicos > .container .box-servicos:nth-of-type(2){
		width: 94%;
		max-width: 380px;
		padding: 40px 4%;
	}

	section.servicos > .container .box-servicos:nth-of-type(3){
		width: 90%;
		max-width: 350px;
		padding: 30px 4%;
	}

	section.perfil .perfil-warpper2{
		/*position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		flex-direction: column;*/
		display: inline-block;
		text-align: center;
	}

	section.perfil .img-perfil{
		width: 80%;
		height: auto;
		display: inline-block;
		padding-top: 110%;
	}

	section.perfil .texto-perfil{
		display: inline-block;
		width: 100%;
		text-align: justify;
	}

}
