*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
}

.container{
	max-width: 1400px;
	width: 100%;
	margin: 0 auto;
}

.clear{
	clear: both;
}

/************************/
/* Começa aqui o Header */
/************************/
header{
	padding: 20px 2%;
}

header .logo img{
	float: left;
	width: 236px;
}

nav.menu-mobile{
	float: right;
	width: 28px;
	height: 28px;
	margin-top: 7px;
	cursor: pointer;
	background-image: url('../images/menu-mobile.png');
	background-size: 100% 100%;
	display: none;
}

nav.menu-mobile ul{
	display: none;
	z-index: 999;
	position: absolute;
	text-align: center;
	width: 100%;
	left: 0;
	top: 60px;
	background-color: white;
}

nav.menu-mobile ul li{
	padding: 10px 0;
	text-transform: uppercase;
}

header nav.menu-desktop{
	float: right;
}

header nav.menu-desktop ul{
	padding: 8px 0;
	list-style-type: none;
}

header nav.menu-desktop ul li{
	float: left;
	font-size: 14px;
	padding: 0 20px;
	text-transform: uppercase;
}

header ul a{
	color: #b4b4b4;
	text-decoration: none;
}

/*************************/
/* Começa aqui o Mosaico */
/*************************/

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-color: #ccc;
	border: 3px solid white;
}

/**************************/
/* Começa aqui o servicos */
/**************************/

section.servicos > .container{
	max-width: 800px;
	display: flex;
	align-items: center;
	position: relative;
	top: -30px;
	text-align: center;
}

section.servicos > .container .box-servicos:nth-of-type(1){
	width: 30%;
	padding: 35px 4%;
	background-color: #576975;
}

section.servicos > .container .box-servicos:nth-of-type(2){
	width: 40%;
	padding: 50px 4%;
	background-color: #688293;
	background-image: none;
}

section.servicos > .container .box-servicos:nth-of-type(3){
	width: 30%;
	padding: 35px 4%;
	background-color: #576975;
}

section.servicos > .container .box-servicos{
	background-image: url('../images/icone_dente.png');
	background-size: 16px 16px;
	background-position: center calc(100% - 10px);
	background-repeat: no-repeat;
}

section.servicos > .container .box-servicos h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}

section.servicos > .container .box-servicos p{
	color: white;
	font-weight: normal;
	font-size: 12px;
	padding-top: 8px;
	text-align: justify;
}

/*************************/
/* Começa aqui o perfil  */
/*************************/

section.perfil .container{
	max-width: 800px;
}

section.perfil .perfil-wrapper{
	padding-top: 60%;
	position: relative;
}

section.perfil .perfil-wrapper2{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	align-items: center;
	width: 100%;
	height: 100%;
}

section.perfil .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url('../images/img_perfil.png');
	background-size: 100% 100%;
}

section.perfil .texto-perfil{
	width: 60%;
	padding: 0 30px;
}

section.perfil .texto-perfil h2{
	color: #698293;
	font-size: 18px;
}

section.perfil .texto-perfil p{
	color: #4b4b4b;
	font-size: 14px;
	text-align: justify;
	margin-top: 8px;
}

/************************/
/* Começa aqui o Videos */
/************************/
section.videos{
	padding: 50px 0;
}

section.videos .box-video{
	float: left;
	width: 33.3%;
	/*background-color: green;*/
	padding-top: calc(33.3% * 0.6);
	border: 5px solid white;
	position: relative;
}

section.videos iframe{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

/*****************************/
/* Começa aqui o tratamentos */
/*****************************/

section.tratamentos{
	background-color: #ffffe6;
	padding-top: 20px;
}

section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
}

section.tratamentos .container > h2{
	color: #698293;
	text-align: center;
	margin-bottom: 16px;
	font-size: 22px;
	text-transform: uppercase;

}

.tratamento-single{
	padding: 20px;
}

.tratamento-single h2{
	font-size: 18px;
	color: #737373;
}

.tratamento-single p{
	padding: 10px 0;
	font-size: 13px;
	color: #b4b4b4;
}

@media screen and (max-width: 768px){

	/****** Responsivo *******/
	/* Começa aqui o Header */
	/************************/

	header nav.menu-desktop{
		display: none;
	}
	
	header nav.menu-mobile{
		display: block;
	}

	/****** Responsivo ********/
	/* Começa aqui o servicos */
	/*************************/

	section.servicos > .container{
		flex-direction: column;
	}

	section.servicos > .container .box-servicos:nth-of-type(1){
		width: 90%;
		max-width: 350px;
		padding: 30px 4%;
	}

	section.servicos > .container .box-servicos:nth-of-type(2){
		width: 94%;
		max-width: 380px;
		padding: 40px 4%;
	}

	section.servicos > .container .box-servicos:nth-of-type(3){
		width: 90%;
		max-width: 350px;
		padding: 30px 4%;
	}

	section.perfil .perfil-wrapper{
		padding-top: 0px;
	}


	/****** Responsivo ********/
	/* Começa aqui o servicos */
	/*************************/

	section.perfil .perfil-wrapper2{
		/*position: absolute;
		left: 0;
		top: 0;
		display: flex;
		align-items: center;
		width: 100%;
		height: 100%;
		flex-direction: column;*/
		height: auto;
		position: static;
		display: inline-block;
		text-align: center;
	}

	section.perfil .img-perfil{
		width: 80%;
		height: auto;
		display: inline-block;
		padding-top: 110%;
	}

	section.perfil .texto-perfil{
		display: inline-block;
		width: 100%;
		text-align: justify;
	}

	/****** Responsivo ********/
	/** Começa aqui o Videos **/
	/**************************/

	section.videos{
		text-align: center;
	}

	section.videos .box-video{
		float: none;
		display: inline-block;
		width: 80%;
		padding-top: calc(80% * 0.6);
		border: 5px solid white;
	}s
}
